style.
  .jumbotron{
  background:gray;
  }


.jumbotron.jumbotron-fluid
  .container
    h1.display-4 Google API
   

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='#')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/home')
          | Home 
          span.sr-only (current) 
      li.nav-item
        a.nav-link(href='/maps') Maps
      li.nav-item
        a.nav-link(href='/url') URL shortener
      li.nav-item
        a.nav-link(href='/youtube') Youtube  
